.formDiv {
	margin: 0 auto 0 auto;
	max-width: 900px;
	text-align:left;
}

.inputBlock {
	margin: 3px 0 3px 0;
	border: 1px solid #ADD8E6;
}

.labels {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 150px;
}

.inputs {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	left: 0px;
}

#postersName {
	width: 400px;
	height: 1.6em;
}

#blogHeadline {
	width: 400px;
	height: 1.6em;
}

#blogPost {
	width: 100%;
	height: 400px;
}

.checkValid {
	height: 1em;
	width: 1em;
}

.bigTextArea {
	width: 500px;
	height: 6em;
	vertical-align: middle;
}

.smallTextArea {
	width: 300px;
	height: 4em;
	vertical-align: middle;
}

@media(max-width:768px){
	.bigTextArea {
	width: 300px;
	height: 5em;
	vertical-align: middle;
	}
	
	.bigTextArea {
	width: 250px;
	height: 4em;
	vertical-align: middle;
	}
}

@media(max-width:550px){
	.bigTextArea {
	width: 300px;
	height: 5em;
	vertical-align: middle;
	}
	
	.bigTextArea {
	width: 250px;
	height: 4em;
	vertical-align: middle;
	}
}