

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	font-size: large;
	/* The html and body elements cannot have any padding or margin. */
}


#wrapper{
	background-image: url("/img/BMG-Logo-v2-transparent3.png");
	background-repeat: no-repeat;
	background-position: center; 
}

#contentSection {
	text-align: center;
}

h1, h2 {
	margin-top: 10px;
}

@media (max-width: 768px) {
	html, body {
		font-size: medium;
	}
	
	#wrapper{
	background-image: url("/img/BMG-Logo-v2-transparent3-shrunk.png");
	background-repeat: no-repeat;
	background-position: center; 
	}
}

hr {
	margin: 2px 0 2px 0;
}
















