

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: crushedFont;
    src: url("/fonts/crushed font/CRUSHED.ttf");
}

@font-face {
    font-family: saucerFont;
    src: url("/fonts/saucerFont/SaucerBB.otf");
}

@font-face {
	font-family: chunkFont;
    src: url("/fonts/chunkFive/Chunkfive.otf");
}


html, body {
	font-size: large;
	/* The html and body elements cannot have any padding or margin. */
}


#wrapper{
	background-image: url("/img/BMG-Logo-v2-transparent3.png");
	background-repeat: no-repeat;
	background-position: center 75px; 
}

#contentSection {
	text-align: center;
}

h1, h2, h3 {
	font-family: chunkFont;
	margin-top: 10px;
}

h1 {
	font-size: 225%;
	font-family: chunkFont;
}

@media (max-width: 768px) {
	html, body {
		font-size: medium;
	}
	
	#wrapper{
	background-image: url("/img/BMG-Logo-v2-transparent3-shrunk.png");
	background-repeat: no-repeat;
	background-position: center 75px;  
	}
}

hr {
	margin: 2px 0 2px 0;
}

.dropDownDiv {
	height: 0;
	overflow: hidden;
	text-align: left;
	margin: 0 auto 0 auto;
	-webkit-transition: all .5s ease-in-out;
  	-moz-transition: all .5s ease-in-out;
  	-ms-transition: all .5s ease-in-out;
  	-o-transition: all .5s ease-in-out;
  	transition: all .5s ease-in-out;
}

.dropDownButton > table {
	width: 100%;
}

.dropDownSign {
	text-align: center;
	margin: .3em 0 0 0;
	width: 3%;
}

.dropDownHeadline {
	width: 95%;
}

