.h2banner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
	height: 50px;
	background-color: #00FFFF;
	border-radius: 10px;
}

.h3banner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 200px;
	height: 40px;
	background-color: #E8E8E8 ;
	border-radius: 10px;
}

.bannerChild{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
	
ul {
	text-align: left;
}

.details {
	text-align: left;
}
