.h2banner {
	margin: 0 auto 0 auto;
	text-align: center;
	max-width: 300px;
	min-height: 50px;
	background-color: #CC79B7;
	border-radius: 10px;
}

.h3banner {
	margin: 10px auto 10px auto;
	text-align: center;
	max-width: 400px;
	min-height: 40px;
	background-color: #CC79B7;
	border-radius: 10px;
}

.bannerChild{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
	
ul {
	text-align: left;
}

.componentDetails {
	text-align: left;
}
