@font-face {
    font-family: saucer;
    src: url(/fonts/SaucerBB.otf);
}

.h2banner {
	font-family: saucer;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 3px;
	background-color: #4d2645;
	color: #FFFFFF;
	border-radius: 10px;
	border: 5px solid black;
}

.h3banner {
	font-family: saucer;
	margin: 10px auto 10px auto;
	display: inline-block;
	padding: 3px;
	background-color: #4d2645;
	color: #FFFFFF;
	border-radius: 10px;
	border: 5px solid black;
}

ul {
	text-align: left;
}

.componentDetails {
	text-align: left;
}

.designHead {
	width: 100%;
	text-align: left;
}

.designHead > tbody > tr {
	border: 1px solid lightgrey;
}

.designHead > tbody > tr > td {
	width: 97%;
}

.sign {
	height: 100%;
	width: 2%; 
	text-align:center;
}

.designDropDown {
	overflow: hidden;
	height: 0px;
	text-align: left;
	margin: 0 auto 0 auto;
	-webkit-transition: all .5s ease-in-out;
  	-moz-transition: all .5s ease-in-out;
  	-ms-transition: all .5s ease-in-out;
  	-o-transition: all .5s ease-in-out;
  	transition: all .5s ease-in-out;
}	

.artworkDiv {
	display: inline-block;
	text-align: center;
	width: 32.5%;
}

.artworkImg {
	margin: 0 auto 0 auto;
	display: block;
	width: auto;
	height: 220px;
}

.parSpacing {
	margin: 5px 0 5px 0;
}

@media (max-width: 992px) {
	.artworkDiv {
	display: block;
	margin: 0 auto 0 auto;
	}
}
