#formDiv {
	margin: 0 auto 0 auto;
	border: #00FFFF solid 1px;
	max-width: 900px;
	text-align:left;
}

#feedbackForm {
	max-width: 900px;
}


#formTable {
	text-align: left;
}

.inputBlock {
	margin: 3px 0 3px 0;
	border:
}

.labels {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 300px;
}

.inputs {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	left: 0px;
	max-width: 590px;
	background: GhostWhite;
}

#gameName {
	width: 300px;
	height: 1.6em;
}

#datePlayed {
	width: 165px;
	height: 1.6em;
}

#numPlayers {
	width: 80px;
	height: 1.6em;
}

#enjoyGame {
}

#normallyPlayExpl {
	display:inline-block;
}

.bigTextArea {
	width: 500px;
	height: 6em;
	vertical-align: middle;
}

.smallTextArea {
	width: 300px;
	height: 4em;
	vertical-align: middle;
}

@media(max-width:768px){
	.bigTextArea {
	width: 300px;
	height: 5em;
	vertical-align: middle;
	}
	
	.bigTextArea {
	width: 250px;
	height: 4em;
	vertical-align: middle;
	}
}
